In [1]:
1+1

2

# Hello
#Hello
## Hello

In [1]:
print

In [2]:
age=27
print("My age is :", age)

My age is : 27

In [ ]:
age=27
print(f"My age is {age}")

My age is 27

In [5]:
#format()
name="Manoj"
Age=27
print("My name is {} and my age is {}".format(name,Age))

My name is Manoj and my age is 27

In [12]:
#entering mall 
price= int(input("please enter the price :"))
if price >=1000:
    print("The price of the product is reduced to {}".format(price*.8))
    # print(discount)
else:
    print("The price of the product is reduced to {}".format(price*.7))

please enter the price : 800

The price of the product is reduced to 560.0

# Loop Statements
1. for loop
2. while loop
3. nested loops
4. loop controls(break, continue, pass)

In [21]:
#while loop
joining_age = 25

while joining_age<60:
    joining_age+=1
    print(f"You have completed {joining_age-25} of service and your age is {joining_age}")
else:
    print("Congratulation!!! Its time to retire, enjoy your life ahead!!")

You have completed 1 of service and your age is 26
You have completed 2 of service and your age is 27
You have completed 3 of service and your age is 28
You have completed 4 of service and your age is 29
You have completed 5 of service and your age is 30
You have completed 6 of service and your age is 31
You have completed 7 of service and your age is 32
You have completed 8 of service and your age is 33
You have completed 9 of service and your age is 34
You have completed 10 of service and your age is 35
You have completed 11 of service and your age is 36
You have completed 12 of service and your age is 37
You have completed 13 of service and your age is 38
You have completed 14 of service and your age is 39
You have completed 15 of service and your age is 40
You have completed 16 of service and your age is 41
You have completed 17 of service and your age is 42
You have completed 18 of service and your age is 43
You have completed 19 of service and your age is 44
You have completed 20 of service and your age is 45
You have completed 21 of service and your age is 46
You have completed 22 of service and your age is 47
You have completed 23 of service and your age is 48
You have completed 24 of service and your age is 49
You have completed 25 of service and your age is 50
You have completed 26 of service and your age is 51
You have completed 27 of service and your age is 52
You have completed 28 of service and your age is 53
You have completed 29 of service and your age is 54
You have completed 30 of service and your age is 55
You have completed 31 of service and your age is 56
You have completed 32 of service and your age is 57
You have completed 33 of service and your age is 58
You have completed 34 of service and your age is 59
You have completed 35 of service and your age is 60
Congratulation!!! Its time to retire, enjoy your life ahead!!

In [22]:
#ATM Machine with 1000 Rupees
cash=1000
while cash>0:
    print(f"Total Cash in ATM is {cash}")
    cash-=100
else:
    print("Sorry for the inconvenience, there is no cash in the ATM, check another ATM")

Total Cash in ATM is 1000
Total Cash in ATM is 900
Total Cash in ATM is 800
Total Cash in ATM is 700
Total Cash in ATM is 600
Total Cash in ATM is 500
Total Cash in ATM is 400
Total Cash in ATM is 300
Total Cash in ATM is 200
Total Cash in ATM is 100
Sorry for the inconvenience, there is no cash in the ATM, check another ATM

# for loop

In [23]:
lst= ["Man",1,2,4,3,4,5,"animals"]

In [24]:
type(lst)

list

In [26]:
lst[6]

'animals'

In [27]:
lst

['Man', 1, 2, 3, 4, 5, 'animals']

In [34]:
for x in lst:
    print (x, end="")
    if x=="animals":
        print("\nYou have reached last element of the list")

Man12345animals
You have reached last element of the list

In [35]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [38]:
for i in range(1,6):
    print (i)

1
3
5

In [39]:
for i in range(1,10,2):
    print (i)

1
3
5
7
9

### Nested loops

In [45]:
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print (f"{i},{j} - *",end='')
    print("\r")

0,0 - *
1,0 - *1,1 - *
2,0 - *2,1 - *2,2 - *
3,0 - *3,1 - *3,2 - *3,3 - *
4,0 - *4,1 - *4,2 - *4,3 - *4,4 - *
5,0 - *5,1 - *5,2 - *5,3 - *5,4 - *5,5 - *
6,0 - *6,1 - *6,2 - *6,3 - *6,4 - *6,5 - *6,6 - *

In [46]:
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print ("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [60]:
n=7
for i in range(0,n):
    for j in range (0,i+1):
        if j==int(n/2):
            print ("*",end='')
    print("\r")

*
*
*
*

## Loop controls

In [63]:
for x in lst:
    if x==2:
        break
    print (x)

Man
1

In [65]:
#continue 
for x in lst:
    if x==2:
        continue
    print (x)

Man
1
3
4
5
animals