In [22]:
#Tuple
t1= (1,2,3,4,5,3,54,"Manoj",2+3j,-1)

In [19]:
t1

(1, 2, 3, 4, 5, 54, 'Manoj', (2+3j), -1)

In [3]:
type(t1)

tuple

In [4]:
type(2+3j)

complex

In [6]:
t1[::-1]

(-1, (2+3j), 'Manoj', 54, 5, 4, 3, 2, 1)

In [7]:
type(-1)

int

In [9]:
t2= t1[::-1]
t2

(-1, (2+3j), 'Manoj', 54, 5, 4, 3, 2, 1)

In [10]:
t2= t2[::-1]
t2

(1, 2, 3, 4, 5, 54, 'Manoj', (2+3j), -1)

In [15]:
t1.count(4)

0

In [24]:
t1.index(3)

2

In [23]:
t1

(1, 2, 3, 4, 5, 3, 54, 'Manoj', (2+3j), -1)

In [25]:
t1.append(True)

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
t1[1]= 55

TypeError: 'tuple' object does not support item assignment

In [28]:
l1=[2,1,45,5,6,6,4,4,3]
l1

[2, 1, 45, 5, 6, 6, 4, 4, 3]

In [32]:
l1[0]= "Start" 
l1[0]= "Begin"
l1

['Begin', 'Start', 45, 5, 6, 6, 4, 4, 3]

In [41]:
for item in t1:
    print (type(item),"=",item)

<class 'int'> = 1
<class 'int'> = 2
<class 'int'> = 3
<class 'int'> = 4
<class 'int'> = 5
<class 'int'> = 3
<class 'int'> = 54
<class 'str'> = Manoj
<class 'complex'> = (2+3j)
<class 'int'> = -1

In [48]:
t3= (1,2,34,5,3)
type(t3)

tuple

In [51]:
max(t3)

34

In [49]:
min(t3)

1

In [53]:
#Average
sum(t3)/len(t3)

9.0

In [66]:
t4=t3+t2
t4

(1, 2, 34, 5, 3, 1, 2, 3, 4, 5, 54, 'Manoj', (2+3j), -1)

In [57]:
t5=(t3,t2)
t5

((1, 2, 34, 5, 3), (1, 2, 3, 4, 5, 54, 'Manoj', (2+3j), -1))

In [67]:
t5
del t5

NameError: name 't5' is not defined

In [69]:
len(t1)

10

In [71]:
3 in t1

True

In [72]:
55 in t3

False

## Sets

In [1]:
s1= {}
type (s1)

dict

In [3]:
s1= {1,2,2,3,4,5,6}
type (s1)
#remove duplicates

set

In [6]:
s1

{1, 2, 3, 4, 5, 6}

In [14]:
for i in s1:
            print(i, end="\t ")

1	 2	 3	 4	 5	 6

In [19]:
s1.add(30)
s1

{1, 2, 3, 4, 5, 6, 30}

In [27]:
a=s1.pop()
print(a, " ", s1)
s1.add(a)
print(a, " ", s1)

2   {3, 4, 5, 6, 30}
2   {2, 3, 4, 5, 6, 30}

## Dictionary

In [1]:
d1= {"name":"Manoj","Age":27}
d1

{'name': 'Manoj', 'Age': 27}

In [2]:
d1= {"name":"Manoj","Age":27, "name":"manoj"}
d1

{'name': 'manoj', 'Age': 27}

In [4]:
d2= {True :"Symbol"}
d2

{True: 'Symbol'}

In [5]:
d2= {"@" :"Symbol"}
d2

{'@': 'Symbol'}

In [9]:
d3= {"Course Name":['Data Science Master','C++','Java','C#'], "Company Name":'PW Skils'}
d3

{'Course Name': ['Data Science Master', 'C++', 'Java', 'C#'],
 'Company Name': 'PW Skils'}

In [10]:
for i in d3:
    print (i)

Course Name
Company Name

In [11]:
d3["Course Name"]

['Data Science Master', 'C++', 'Java', 'C#']

In [12]:
d3["Name"]="Manoj"
d3

{'Course Name': ['Data Science Master', 'C++', 'Java', 'C#'],
 'Company Name': 'PW Skils',
 'Name': 'Manoj'}

In [13]:
d3['Name'].upper()

'MANOJ'

In [14]:
del d3['Name']
d3

{'Course Name': ['Data Science Master', 'C++', 'Java', 'C#'],
 'Company Name': 'PW Skils'}

In [15]:
d1.clear()

In [16]:
d1

{}

In [17]:
type(d1)

dict

In [19]:
len(d3)

2

In [20]:
d3.keys()

dict_keys(['Course Name', 'Company Name'])

In [21]:
d3.values()

dict_values([['Data Science Master', 'C++', 'Java', 'C#'], 'PW Skils'])

In [24]:
list(d3.values())

[['Data Science Master', 'C++', 'Java', 'C#'], 'PW Skils']

In [30]:
list(d3.items())

[('Course Name', ['Data Science Master', 'C++', 'Java', 'C#']),
 ('Company Name', 'PW Skils')]

In [32]:
d4=d3
d4

{'Course Name': ['Data Science Master', 'C++', 'Java', 'C#'],
 'Company Name': 'PW Skils'}

In [34]:
d5=d3.copy()
d5

{'Course Name': ['Data Science Master', 'C++', 'Java', 'C#'],
 'Company Name': 'PW Skils'}

In [4]:
d3.update(d1)
d3

NameError: name 'd3' is not defined

In [10]:
d3.get("Company Name")

NameError: name 'd3' is not defined

In [11]:
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [13]:
atuple = (100, 200, 300, 400, 500)

print(atuple[-2])

print(atuple[-4:-1])

400
(200, 300, 400)

In [14]:
atuple = ("Orange")

print(type(atuple))

<class 'str'>

In [15]:
atuple = (100,)

print(atuple * 2)

(100, 100)

In [16]:
dict1 = {"name": "Mike", "salary": 8000}

temp = dict1.get("age")

print(temp)

None

In [17]:
dict1 = {"key1":1, "key2":2}

dict2 = {"key2":2, "key1":1}

print(dict1 == dict2)

True

In [18]:
set1 = {"Yellow", "Orange", "Black"}

set2 = {"Orange", "Blue", "Pink"}

set3 = set2.difference(set1)

print(set3)

{'Blue', 'Pink'}